.carousel-inner{
    width:100%;
    max-height: 350px !important;
    margin-top: 0;
  }

  .row{
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
  }

  .dash:after{
    content: " ";
    margin: 5% auto;
    display: block;
    height: 3px;
    background: lightblue;
    width: 30%;
  }

  @media(min-width: 900px){
  .items-frame{
    margin: 0 auto;
    margin-top: -1%;
    max-height: 120vh;
    overflow: hidden;
  }

}