<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]='["/home"]'>EKart</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <form class="navbar-form" role="search">
        <div style="display:table;" class="input-group">
          <input type="text" autocomplete="off" placeholder="Search anything" name="search" class="form-control">
          <div class="input-group-btn" style="width: 5%;">
            <button class="btn btn-primary" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </ul>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]='["/home"]'>Home</a>
      </li>
      <li>
        <a [routerLink]='["/"]'>Today's Deal</a>
      </li>
      <li>
        <a [routerLink]='["/viewAllProducts"]'>Explore Ekart</a>
      </li>
      <li>
        <a [routerLink]='["/register"]' [style.color]="'white'">
          <strong>BECOME A SELLER</strong>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a [routerLink]='["/"]'>
          <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
      </li>
      <li *ngIf="!isSellerLogin && !isCustomerLogin">
        <a a [routerLink]='["/register"]'>
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li *ngIf="!isSellerLogin && !isCustomerLogin">
        <a [routerLink]='["/login"]'>
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li *ngIf="isSellerLogin">
        <a [routerLink]='["/sellerProfile"]'>
          <span class="glyphicon glyphicon-user"></span> {{userName}}'s Profile</a>
      </li>
      <li *ngIf="isCustomerLogin">
        <a [routerLink]='["/customerProfile"]'>
          <span class="glyphicon glyphicon-user"></span> {{userName}}'s Profile</a>
      </li>
      <li *ngIf="isCustomerLogin || isSellerLogin">
        <a (click)="logout()" style="cursor:pointer">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>